<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="stylesheet" type="text/css" href="CCC.css" />

        <script src="test.js"></script> 
        <title>L'Appeal Du Vide</title>
        <meta charset="utf-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>


     <div class = navbar>
    
        <ul id = "menu">
     <li><a href="home.html" ><button class="dropbtn">Home</button> </a> </li>

      <li> <a href="DesignReport.html" ><button class="dropbtn">Design Report</button> </a></li> 

     <li> <a href="PD.html"><button class="dropbtn">Personal Development</button> </a></li> 

      <li> <a href="Presentation.html"><button class="dropbtn">Presentation</button></a></li> 
    
    
    </ul>

</div>

    <body>
        <div class = "page-contianer">
            <main><div class="header-b"> <div id="blog-img">
          
            </div>
          </div></main>

    <article>
        <h1>Week 3: Bauhaus</h1>
 <p>The Bauhaus school was founded by Walter Gropius in Weimar in 1919. His objective was to unify art with industrial technology "they
     encouraged the usage of modern technologies and believed thatforms follow function and that the artist and the craftsman should be united in 
     one individual, and focued on the productivity instead of the mere beauty of the design"
 </p>

 <img src="bau1.jpg" style="display:block; margin: 0 auto; height:50%; width:50%" alt="alt text">

 <p>After the school closed in 1933 due to pressure from the Naxi Regime many of its educators and students spread across the globe 
     bringing with them the aesthetics and philosophy of the Bauhaus school and what it introduced to the world was a new way of viewing objects
     and a different conception of design. 
 </p>

 <p>The Bauhaus school was the first to establisha dedicated  Typography department. Educators at the school emphasised the 
     importance of using the grid system and recommended the use of san serif fonts due to their clean uncomplicated design. From these 
     teachings designers began to organise information differently using the grid and this is still evident today in many designs and a 
     good example of its practice is in web design. Web design has totally embraced the uncomplicated and clean principles of Buahaus this 
     is seen in many examples such as Microsoft. </p>
     
     <img src="sur_main.jpg" style="display:block; margin: 0 auto; height:50%; width:50%" alt="alt text">
    <p> In 2010 Microsoft decided to adopt what is called a flat design influenced by the 
     Bauhaus movement. This visual scheme is ubiquitous across all of Microsoft's products including the Windows phone, XBOX, and Widows 
     OS. "Now when you look at a Windows Phone, Windows 8 tablet or PC, or an Xbox console, they look like a family of devices. And when I  use these devices, they behave like a family of devices, sharing my content, settings and experiences across them. "
     He goes on to say " When Sam Moreau, design director for Windows, says, “The content is the interface,” he’s channeling his inner Bauhaus. "
 </p>




    </article>

    <aside>
        <h2>Blog Links</h2>
        <nav>
          <ul>
            <li><a href="indus.html">Week 1: Industrial Revolution</a></li>
            <li><a href="Russia.html">Week 2: Russian Constructivism</a></li>
            <li><a href="Bauhaus.html">Week 3: Bauhaus</a></li>
            <li><a href="Newtyp.html">Week 4: New Typography</a></li>
            
            <li><a href="NEWYork.html">Week 5: New York</a></li>
          </ul>
      </nav>
      </aside>


    <footer>
        <p>Rose Toolan 2020</p>
    </footer>

 
    
</body>





</html>