<!DOCTYPE html>
<html lang="eng">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mainapp/CCC.css' %}" />
        <script src="{% static 'mainapp/test.js' %}"></script> 
        <title>L'Appeal Du Vide</title>
        <meta charset="utf-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>


     <div class = navbar>
    
        <ul id = "menu">
        <li><a href="/" ><button class="dropbtn">Home</button> </a></li> 
         <li> <a href="/design_report" ><button class="dropbtn">Design Report</button> </a></li> 
         <li> <a href="/personal_development"><button class="dropbtn">Professional Development</button> </a></li> 
        <li> <a href="/presentation"><button class="dropbtn">Presentation</button></a></li> 
    
      </ul>

</div>


    <body>
<div class = "page-contianer">
   <div id="blog-img">

  </div>
</div>
  <div class="row">
 <div class = "card-container col-sm-12">
          <div class="card row"> <div class="pic1">
        </div>
        <div class="innerPic">
              <h2>Week 1:</h2>
              <h2>Industrial Revolution</h2>
           <a href="/indus"> <button class="button2"><p><i class="arrow right"></i></p></button></a>
        </div>
      </div>
   

      
              <div class="card row">
                <div class="pic2">
          </div>
          <div class="innerPic">
              <h2>Week 2:</h2>
              <h2>Russian Constructivism</h2>
           <a href="/russia"> <button class="button2"><p><i class="arrow right"></i></p></button></a>
        </div>
        </div>
          
           
        <div class="card row">
          <div class="pic3">
        </div>
        <div class="innerPic">
              <h2>Week 3:</h2>
              <h2>Bauhaus</h2>
           <a href="/bauhaus"> <button class="button2"><p><i class="arrow right"></i></p></button></a>
        </div>
      </div>
               

    
      <div class="card row"><div class="pic4"></div>
          <div class="innerPic">
                        <h2>Week 4:</h2>
                        <h2>The New Typograpy</h2>
                     <a href="/newtyp"> <button class="button2"><p><i class="arrow right"></i></p></button></a>
                  </div>
        </div>
              

        <div class="card row"><div class="pic5"></div>
        <div class="innerPic">
                      <h2>Week 5:</h2>
                      <h2>Pop Art</h2>
                   <a href="/newyork"> <button class="button2"><p><i class="arrow right"></i></p></button></a>
                </div>
      </div>
                   
       

    </div>

</body>



</html>