<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="stylesheet" type="text/css" href="CCC.css" />

        <script src="test.js"></script> 
        <title>L'Appeal Du Vide</title>
        <meta charset="utf-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>


     <div class = navbar>
    
        <ul id = "menu">
     <li><a href="home.html" ><button class="dropbtn">Home</button> </a> </li>

      <li> <a href="DesignReport.html" ><button class="dropbtn">Design Report</button> </a></li> 

     <li> <a href="PD.html"><button class="dropbtn">Personal Development</button> </a></li> 

      <li> <a href="Presentation.html"><button class="dropbtn">Presentation</button></a></li> 
    
    
    </ul>

</div>

    <body>
    <div class = "page-contianer">
        <main><div class="header-b"> <div id="blog-img">
      
        </div>
      </div></main>

    <article>
<h1>Week 1: The Industrial Revolution</h1>
<p></p>
<p></p>
<p></p>

   <p>The Industrial Revolution marked a period of rapid development in the western world, societies moved from a mostly agrarian  structure to an 
       Inustrial one. With these rapid changes came the need for effective communication that could be easilt reproduced  and as a result many new typographic methods, styles and technologies emerged during this era.
 </p>
 <img src="indu1.jpg" style="display:block; margin: 0 auto; width:300px; height:300px" alt="alt text">
<p>"The design styles that emerged around the jturn of the century were symptomatic of people trying to cope with and assimilate the new 
       industrialized landscape into their lives" - Rabinowitz</p>
<p>The mechanization of society was mirrored in the world of advertising and publication to meet the demand to mass produce
       products and materials. Some of the most significant developments saw graphic design moving away from handcrafts. In the field of Typography new typefaces emerged such as Slab Serif, Egyptian, Sans Serif and many more.
   </p>
<img src="rewardp.jpg" style="display:block; margin: 0 auto; width:300px; height:300px" alt="alt text">
<p>The invention of the lithographic printing press offered artists the opportunity to realistically recreate images</p>


<p>With this shift towards the mechanization of design many looked backward to the old techniques and processes and what emerged became 
    known as the Arts and Crafts movement. "The birth of the Arts & Crafts movement in Britian in the late 19th century marked the begining of a change in the value society
        placed on how things were made. This was a reaction to not only the damaging effects of industrialization but also the relatively low
        status of the decorative arts"
    </p>
    <img src="acm.jpg" style="display:block; margin: 0 auto; width:300px; height:300px" alt="alt text">
    
    <p>The most notable and well known propoent of the use of handcrafts over mechanical means was 
    English artist William Morris. William Morris was inspired by the writings of John Ruskin and believed that society should work toward the happiness and wellbeing of the individual.
    He believed this uptoian ideal could be achieved through the marraige of art and labour. In 1861 William Morris established Morris & Co.
    to actualise his principles in design. His style can be characterised as being heavily influenced by medieval English aesthetic.
</p> 

 </article>


    <aside>
        <h2>Blog Links</h2>
        <nav>
          <ul>
            <li><a href="indus.html">Week 1: Industrial Revolution</a></li>
            <li><a href="Russia.html">Week 2: Russian Constructivism</a></li>
            <li><a href="Bauhaus.html">Week 3: Bauhaus</a></li>
            <li><a href="Newtyp.html">Week 4: New Typography</a></li>
            
            <li><a href="NEWYork.html">Week 5: New York</a></li>
          </ul>
      </nav>
      </aside>

      <footer>
        <p>Rose Toolan 2020</p>
    </footer>

   
</body>



</html>