<!DOCTYPE html>
<html lang="eng">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mainapp/CCC.css' %}" />
        <title>L'Appeal Du Vide</title>
        <meta charset="utf-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1">
    
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</head>


     <div class = navbar>
    
        <ul id = "menu">
     <li><a href="/" ><button class="dropbtn">Home</button> </a> </li>

      <li> <a href="/design_report" ><button class="dropbtn">Design Report</button> </a></li> 

      <li> <a href="/personal_development"><button class="dropbtn">Professional Development</button> </a></li> 

      <li> <a href="/presentation"><button class="dropbtn">Presentation</button></a></li> 
    
    
    </ul>

</div>

    <body>
        <main><div class="header-b"> <div id="blog-img-bau">
      
        </div>
      </div></main>

    <article id = "bau">
<h1>Week 1: The Industrial Revolution to the Arts & Crafts Movement</h1>
<p></p>
<p></p>
<p></p>

   <p>The Industrial Revolution marked a period of rapid development in the western world, societies moved from a mostly agrarian  structure to an 
       Industrial one. With these rapid changes came the need for effective communication that could be easilt reproduced  and as a result many new typographic methods, styles and technologies emerged during this era.
 </p>
 <img src="/static/mainapp/rev.jpg" style="display:block; margin: 0 auto; width:70%; height:70%" alt="alt text">
 <p style= "font-style: italic; font-size: smaller; margin-left: 30%;">Fig 1: Industrialized city during the 19th century</p>
<p style= "font-style: italic;margin-left: 10%; margin-right: 10%;">"The design styles that emerged around the turn of the century were symptomatic of people trying to cope with and assimilate the new 
       industrialized landscape into their lives" (Rabinowitz, 2015)</p> 
       <br>

       <img src="/static/mainapp/intyp.jpg" style="float:left; width:30%; height:30%; padding-right: 4%;" alt="alt text">
       <p style= "margin-left: 10%;">The mechanization of society was mirrored in the world of advertising and publication to meet the demand to mass produce
       products and materials. Some of the most significant developments saw graphic design moving away from handcrafts. 
       In the field of Typography new typefaces emerged such as Slab Serif, Egyptian, Sans Serif and many more.
   </p>
   <br>
   <p style= "font-style: italic; font-size: smaller;">Fig 2: Example of Slab font</p>

<p>The invention of the lithographic printing press also offered artists the opportunity to realistically recreate images. The growth of 
    machines also helped to develop graphic design as a practice and many aspects of visual communication began to become segmented And
    more speciaised.
</p>
<img src = "/static/mainapp/tri.jpg" style="display:block; margin: 0 auto; width:300px; height:300px" alt="alt text">
<p style= "font-style: italic; font-size: smaller; margin-left: 30%;">Fig 3: 19th century lithographic poster</p>

<img src="/static/mainapp/first.jpg" style="float:left; width:40%; height:40%; padding-right: 4%;" alt="alt text">
       <p style= "margin-left: 10%;">The emergence of the photography also revolutionized visual communication and began to gain popularity with artists. Firstly discovered
    by Frenchman Joseph Niepce (1765–1833), it was his experiments that laid the foundations of the practice today. 
</p>
<br>
<br>
<br>
<p style= "font-style: italic; font-size: smaller;">Fig 4: First photograph created by Niepce</p>

<figure style = "float:right; width:40%; height:40%">
<img src = "/static/mainapp/soap.jpg" width="width" height="height" 
style="padding-bottom:0.5em; width: 80%; height:80%;" /><figcaption style= "font-style: italic; font-size: smaller;">Fig 5: Example of Victorian design</figcaption>
</figure>
<br>
<br>
<p>Whilst the Industrial Revolution was in full momentum, the Victorian era which ran from 1937 to 1901 ushered in lavishly styled posters and packaging.
    Many artists created opulent illustrations with ornate borders and romantisied imagery, lettering in particular was emphasised and
    the main focal point of the page.
</p>
<br>
<br>
<br>
<p>With this shift towards the mechanization of design many looked backward to the old techniques and processes and what emerged became 
    known as the Arts and Crafts movement.</p> <p style = "font-style: italic; margin-left: 10%; margin-right: 10%;">"The birth of the Arts & Crafts movement in Britian in the late 19th century marked the begining of a change in the value society
        placed on how things were made. This was a reaction to not only the damaging effects of industrialization but also the relatively low
        status of the decorative arts" (V&A · Arts and Crafts: an introduction, 2020)
    </p>
    
    <p>The most notable and well known propoent of the use of handcrafts over mechanical means was 
    English artist William Morris. William Morris was inspired by the writings of John Ruskin and believed that society should work toward the happiness and wellbeing of the individual.
    He believed this uptoian ideal could be achieved through the marraige of art and labour. In 1861 William Morris established Morris & Co.
    to actualise his principles in design. His style can be characterised as being heavily influenced by medieval English aesthetic.
</p> 
<figure style= "margin-left: 10%;"><img src = "/static/mainapp/wim.jpg" style = "display: block; width:80%; height: 50%;" >
<figcaption style ="font-style: italic; font-size: smaller;">Fig 6: William Morris</figcaption></figure>

<p>Graphic Design as a industry owes a lot to the period of the industrial revolution without the strides in technology and the 
    use of tools the refinement of techniques we know today would not have happened. Many companies still choose to design their brand using
    Victorian aesthetics.
</p>
<figure>
<img src = "/static/mainapp/fent.jpg" style="display: block; width:50%; height:50%; ">
<figcaption style= "font-style: italic; font-size: smaller;">Fig 7: An example of modern adaption</figcaption></figure>

<br>
<br>
<h1>References</h1>
<p>Victoria and Albert Museum. 2020. V&A · Arts And Crafts: An Introduction. [online] Available at: <https://www.vam.ac.uk/articles/arts-and-crafts-an-introduction> [Accessed 12 May 2020].</p>
<p>Rabinowitz Deer, T., n.d. Exploring Typography.</p>

<h1>Image Credits</h1>
<p>Figure 1: History.com. 2020. [online] Available at: <https://www.history.com/topics/industrial-revolution/industrial-revolution> [Accessed 12 May 2020].</p>
<p>Figure 2: I Love Typography. 2020. I Love Typography. [online] Available at: <https://ilovetypography.com/2008/06/20/a-brief-history-of-type-part-5/> [Accessed 12 May 2020].</p>
<p>Figure 3: CANVAS, T., 2020. TRIUMPH CYCLES 1900 - REPLICA POSTER PRINTED ON CANVAS - Vintage Motor Cyclebooks. [online] Vintage Motor Cyclebooks. Available at: <https://www.vintagemotorcyclebooks.nl/en/product/triumph-cycles-1900-replica-poster-printed-on-canvas/> [Accessed 12 May 2020].</p>
<p>Figure 4: 100 Photographs | The Most Influential Images of All Time. 2020. See The Story Behind The First Photo Ever. [online] Available at: <http://100photos.time.com/photos/joseph-niepce-first-photograph-window-le-gras> [Accessed 12 May 2020].</p>
<p>Figure 5: About Graphic Design. 2020. Victorian Advertising 1830-1900﻿. [online] Available at: <https://dylanspiteri.weebly.com/blog-posts-about-graphic-design-artists/victorian-advertising-1830-1900> [Accessed 12 May 2020].</p>
<p>Figure 6: Victoriana.com. 2020. William Morris Wallpaper (PICTURES). [online] Available at: <http://www.victoriana.com/Wallpaper/williammorris.php> [Accessed 12 May 2020].</p>

</article>


    <aside>
        <h2 >Blog Links</h2>
        <nav>
          <ul>
            <li><a href="/indus"><button class="dropbtn2">Week 1: Industrial Revolution</button></a></li>
            <li><a href="/russia"><button class="dropbtn2">Week 2: Russian Constructivism</button></a></li>
            <li><a href="/bauhaus"><button class="dropbtn2">Week 3: Bauhaus</button></a></li>
            <li><a href="/newtyp"><button class="dropbtn2">Week 4: New Typography</button></a></li>
            
            <li><a href="/newyork"><button class="dropbtn2">Week 5: New York</button></a></li>
          </ul>
      </nav>
      </aside>

     
</body>



</html>