<!DOCTYPE html>
<html lang="eng">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mainapp/CCC.css' %}" />
        <title>L'Appeal Du Vide</title>
        <meta charset="utf-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1">
    
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</head>


     <div class = navbar>
    
        <ul id = "menu">
     <li><a href="/" ><button class="dropbtn">Home</button> </a> </li>

      <li> <a href="/design_report" ><button class="dropbtn">Design Report</button> </a></li> 

      <li> <a href="/personal_development"><button class="dropbtn">Professional Development</button> </a></li> 

      <li> <a href="/presentation"><button class="dropbtn">Presentation</button></a></li> 
    
    
    </ul>

</div>

    <body>
        <main><div class="header-b"> <div id="blog-img-bau">
      
        </div>
      </div></main>

    <article id = "bau">
<h1>Week 5: Pop Art</h1>
<p></p>


 

 

<figure style = "float:right; width:40%; height:40%">
<img src = "/static/mainapp/" width="width" height="height" 
style="padding-bottom:0.5em; width: 80%; height:80%;" /><figcaption style= "font-style: italic; font-size: smaller;">Fig 5: Example of Victorian design</figcaption>
</figure>


<figure>
<img src = "/static/mainapp/" style="display: block; width:50%; height:50%; ">
<figcaption style= "font-style: italic; font-size: smaller;">Fig 7: An example of modern adaption</figcaption></figure>

<br>
<br>
<h1>References</h1>


<h1>Image Credits</h1>

</article>


    <aside>
        <h2 >Blog Links</h2>
        <nav>
          <ul>
            <li><a href="/indus"><button class="dropbtn2">Week 1: Industrial Revolution</button></a></li>
            <li><a href="/russia"><button class="dropbtn2">Week 2: Russian Constructivism</button></a></li>
            <li><a href="/bauhaus"><button class="dropbtn2">Week 3: Bauhaus</button></a></li>
            <li><a href="/newtyp"><button class="dropbtn2">Week 4: New Typography</button></a></li>
            
            <li><a href="/newyork"><button class="dropbtn2">Week 5: New York</button></a></li>
          </ul>
      </nav>
      </aside>

     
</body>



</html>