<!DOCTYPE html>
<html lang="eng">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mainapp/CCC.css' %}" />
        <title>L'Appeal Du Vide</title>
        <meta charset="utf-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1">
    
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</head>


<ul id = "menu">
         

  <li> <a href="/"><button class="dropbtn">Home</button></a></li> 

        <li><a href="/blog" ><button class="dropbtn">Design History</button> </a></li> 


     <li> <a href="/design_report" ><button class="dropbtn">Design Report</button> </a></li> 

     <li> <a href="/personal_development"><button class="dropbtn">Professional Development</button> </a></li> 

      
    
    </ul>

<body>
  <div class = "page-contianer">
    <div id="pres-img">
 
   </div>
 </div>
    <article>

      <h1>April Greiman’s impact on design and other creative industries
      </h1>
          <p>April Greiman was one of the first graphic designers to embrace computer technology as a medium for creating art, nowadays
            graphic designers see a computer as an indespinsible tool but many of her contemporary's feared the increasing amount of digitalization
          </p>
     
     <figure>  <img src="/static/mainapp/april.jpg" style="display:block; margin: 0 auto; height:50%; width:50%" alt="alt text">
      <figcaption style= "font-style: italic; font-size: smaller; margin-left:30%"> Fig 1: April Greiman</figcaption> </figure>

      <p style= "font-style: italic; margin-left: 10%; margin-right: 10%;">"This fascination comes from the core of her being, a core of perpetual curiosity and questioning that fuels her desire to explore and inspires the cutting-edge design work that places her at the helm of integrated design at the close of the twentieth century" (Heller, 1998)</p>
    
      <h2 id = "goals">Influences</h2>

      <p>She describes her style as a blend of "...technology, science, word and image with color and space..." (Greiman, 2020)</p>
     
      <figure style = "float:left; width:50%; height:50%">
          
          <img src="/static/mainapp/weingart.png"  style="display: block; width:90%; height:90%; ">
          <figcaption style= "font-style: italic; font-size: smaller; margin-left:30%"s>Fig 2: Example of Weingarts work</figcaption> </figure> <p >Greiman studied at the Basel School of Design in Switzerland, 
          it was there that she was introduced to the New Wave style by Wolfgang Weingart who had been teaching his students his this technique 
          since the 1970's. The New Wave style was heavily influenced by
        Punk culture and the Swiss style and took many elements that characterised the Swiss style and distorted and 
      warped them. Letter spacing became widened and the consistency of font style, sizes and orientation varied even within a word
      in essence breaking all the fundamental rules of Typography single word.</p>
      <p>

      </p>
      <br>

      <h2 id = "goals">Cultural Context</h2>
      <figure style = "float:left; width:50%; height:50%">
          
        <img src="/static/mainapp/mac.jpg"  style="display: block; width:90%; height:90%; ">
        <figcaption style= "font-style: italic; font-size: smaller; margin-left:30%"> Fig 3: Apple Macintosh 128K</figcaption> </figure> <p ><p>April Greiman was one of the first to embrace the computer as a tool to create artistic images and helped create the new-wave post-modern 
        design movement. In 1975 the first personal desktop was introduced and when the Apple Mac emerged in 1984 it offered consumers the first graphical interface. It was around this period 
        that Greiman started using the Apple Macintosh in her work. Before in the rise in popularity in desktop based tools every facet of 
        a design was completed by hand by a graphic designer, today Photoshop and Illustrator are essential to the role.
      </p>
      <h2 style="clear: both;" id ="goals">Comparative Analysis</h2>
      <p>

      </p>

      <p>Technology is advancing at an exponential rate and with this artists have embraced these new tools in new and innovative waves.
          </p>
        </p>
      
        <figure >
        <img src = "/static/mainapp/aoife.jpg" style="display:block; margin: 0 auto; height:50%; width:50%" alt="alt text" >
        <figcaption style= "font-style: italic; font-size: smaller; margin-left:30%">Fig 4: [Tranzemorex | Aoife Dunne at EP7 Gallery, Paris (2020)</figcaption>
      </figure> 
         

        <p> Nowadays we take the digital tools we use for granted but when April Greiman
          she only had a 1 Megabyte computer at hand with a monochrome 9 inch display. The process was so slow that she had to send the 
          files to print before she left her studio to have it ready for the morning. (Dill, 2020)
          <figure> 
       </p><img src = "/static/mainapp/makesense.jpg" style="display:block; margin: 0 auto; height:50%; width:50%" alt="alt text" >
       <figcaption style= "font-style: italic; font-size: smaller; margin-left:30%">Fig 5: April Greiman, Does it make sense? (1986)</figcaption>
       <br>
       <p>Nowadays a process that may have taken hours is complete in just a few clicks of a mouse lending the creative 
         professional more time to innovate and generate original and interesting ideas.
       </p>
      </figure>
      
      <br>
        <h1>References</h1>
        <p>April Greiman [online] (2020) [online], AIGA | the professional association for design.</p>
        <p>Flask, D. (2020) April Greiman : Design Is History [online], Designishistory.com, available: http://www.designishistory.com/1980/april-greiman/ [accessed 18 May 2020].</p>
        <p>NEW WAVE / PUNK – Graphic Design History [online] (2020) [online], Ghd.merokdesign.no.</p>
        <p>Icons Of Digital Design - Who Shaped Modern Design? — Smashing Magazine [online] (2020) [online], Smashing Magazine.</p>
        <p>Dill, C. (2020) “Does It Make Sense?” – April Greiman | GD 203 [online], Go.distance.ncsu.edu, available: https://go.distance.ncsu.edu/gd203/?p=27858 [accessed 18 May 2020].</p>
        <p>Galarraga, I. (2020) Then And Now: Graphic Design Before Computers By The Netmen Corp [online], The NetMen Corp, available: https://thenetmencorp.com/2017/08/then-and-now-graphic-design-before-computers/ [accessed 18 May 2020].</p>

        <h1>Image Credits</h1>
        <p>Figure 1: things, t. (2020) Great Females Graphic Designers: April Greiman | Agencia Telling [online], Telling | Agencia de publicidad en Barcelona, available: https://en.agenciatelling.com/april-greiman/ [accessed 18 May 2020].</p>
        <p>Figure 2: Icons Of Digital Design - Who Shaped Modern Design? — Smashing Magazine [online] (2020) [online], Smashing Magazine.</p>
        <p>Figure 3: Design Discussions: April Greiman On Technology: Idsgn (A Design Blog) [online] (2020) [online], Idsgn.org.</p>
      <p> Figure 4: (2020) Tranzemorex | Aoife Dunne At EP7 Gallery, Paris | Visual Artists Ireland [online], Visual Artists Ireland, available: https://visualartists.ie/events/tranzemorex-aoife-dunne-at-ep7-gallery-paris/ [accessed 18 May 2020].</p>  
      <p>Figure 5: Design Discussions: April Greiman On Technology: Idsgn (A Design Blog) [online] (2020) [online], Idsgn.org.</p>
    
    </article>
    
</body>
</html>