<!DOCTYPE html>
<html lang="eng">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mainapp/CCC.css' %}" />
        <title>L'Appeal Du Vide</title>
        <meta charset="utf-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1">
    
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</head>


     <div class = navbar>
    
        <ul id = "menu">
     <li><a href="/" ><button class="dropbtn">Home</button> </a> </li>

      <li> <a href="/design_report" ><button class="dropbtn">Design Report</button> </a></li> 

     <li> <a href="/personal_development"><button class="dropbtn">Personal Development</button> </a></li> 

      <li> <a href="/presentation"><button class="dropbtn">Presentation</button></a></li> 
    
    
    </ul>

</div>

    <body>
        <main><div class="header-b"> <div id="psa">
      
        </div>
      </div></main>


      <article id = "bau">
          <h1>Professional Skills Audit</h1>

          <h2>Review of a Practioner</h2>

<p>
    Currently I work as a Data Analyst and although I don’t hate my work it is not something I am passionate about. About a year ago I made the decision to once again return to further education and this time to follow my dreams of working in the creative industry. Since an early age I loved drawing and painting and this followed me throughout my formative years. Sadly upon leaving secondary school I decided not to pursue Art & Design this decision was informed by many factors at the time and too much to try to explain but I here I am now trying to fulfil the dreams of my teenage self. I went into this course not really knowing what to expect and also I wasn’t really clear on what avenue of graphic design I wanted to pursue. In reality I sent my expectations low for myself as I didn’t want to be disappointed on perhaps not enjoying it or have the capacity or skill to apply myself to the requirements of the course. 
One of the main driving forces behind my decision to apply for this course was my new found interest in Photoshop. About 2 years ago I reignited my interest in Photography and started an Instagram account over time I learned of free photo editing apps and used them to modify my images and really enjoyed it and gain quite a few followers. Over time I thought about turning it into something more than a hobby and it dawned on me that what I was always happiest was when I was creating, I even notice at work I spend too much of my time settling on the colour scheme of the dashboards or trying to spruce up some charts and graphs with snazzy designs.
Now nearing the end of this course I am becoming a little clearer on the path I would like to follow. As I have a background in Computer Science I have completed modules in Web Development and I realise it is something I could integrate with my new found skills in graphic design.
</p>
<p>
Strengths:
Knowledge of web design and development
Photography
HTML 
CSS
Javascript
Research skills
</p>

Weaknesses:
After effects
I need to improve my social skills
I am a poor public speaker
I tend to procrastinate

Opportunities:
The website I created for this unit can be used to promote my work
I already have an Instagram account for my photography and could use this to promote my graphic design work

Threats:
The current situation in Ireland due to Covid-19 could impact on the creative industry and their maybe less opportunities for recent graduates
I work fulltime and may not be able to dedicate myself to pursing graphic design further

Upon research possible career paths that would incorporate my Computer Science knowledge and Graphic Designs I found that possibly a role as either a UI or UX designer would suit me. To gain a better understanding of the requirements of the role I searched indeed.ie. I found that there were numerous roles available most were more senior but a graduate one looked less intimidating. Surprisingly I do have many of the skills required already but perhaps not the duration in practice.  Here is a screenshot of the job description:
  
During my course in Computer Science I designed a mobile news app and a ecommerce website so I would evaluate myself as having basic to intermediate knowledge of HTML, CSS, Bootstrap and Javascript. While designing my website I used Bootstrap to regulate the responsiveness of the pages to different interfaces. I also studied Sociology and Anthropology and have strong research skills particularly into human behaviour and psychology which can be useful in a role such as this.

I decided to do some additional research into UX and wanted to differentiate it between UI to decide which best applied to me. According to Raffaela Rein 
“there are skills that are unique to each role. UX designers typically have experience with organizing and executing research, wireframing, prototyping, information architecture, interaction design, coding, and analytics. 
UI designers usually have experience with responsive visual interface design, layouts and grid systems, visual hierarchy, typography, color theory, animation, accessibility, and A/B testing.”

I then decided to look into UI design as it seems to appeal to me more as despite knowing a bit about coding I would prefer a more visual geared career.



<h1>References:</h1>

<p>UX Designer to UX / UI Designer: Skills You Need to Make the Leap 
 https://www.invisionapp.com/inside-design/ux-ui-designer/</p>




    </article>

    <aside>
      <h2 >Links</h2>
      <nav>
        <ul>
          <li><a href="/roles"><button class="dropbtn2">Roles and Skills</button> </a></li>
          <li><a href="/psa"><button class="dropbtn2">Professional Skills Audit</button> </a></li>
          <li><a href="/diary"><button class="dropbtn2">Personal Development Plan</button> </a></li>

        </ul>
    </nav>
    </aside>
</Body>
</html>