<html lang="eng">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mainapp/CCC.css' %}" />
        <script src="{% static 'mainapp/test.js' %}"></script> 
        
        <title>L'Appeal Du Vide</title>
        <meta charset="utf-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{% static 'mainapp/liquid.js' %}"></script> 
</head>



<div class = navbar>
    
    <ul id = "menu">
        <li> <a href="/"><button class="dropbtn">Home</button></a></li> 
    <li><a href="/blog" ><button class="dropbtn">Design History</button> </a></li> 
     <li> <a href="/design_report" ><button class="dropbtn">Design Report</button> </a></li> 
     <li> <a href="/personal_development"><button class="dropbtn">Personal Development</button> </a></li> 
  

  </ul>

</div>


<body>
    <main><div class="header-b"> <div id="psa">
      
    </div>
  </div></main>

<article id = "bau">
    <h1>Roles and Skills</h1>
    <p>Visual communication has played an 
        important part in conveying a message effectively since time immemorial and is more 
    often than not universally understood. With the coming of fordian production lines and mass produced goods companies
began to understand the importance of branding. With the increase in mass produced goods there arose the need to reach the massses
in a clear and effective manner. </p>


<br>
        <h2 style ="clear:both" id ="goals">Graphic Designer</h2>
  
        <p>A graphic designer can work with a wide variety of tools and mediums and can specialize in certain areas such as Typography or web design.</p>
        <h3>Skills</h3>
        <p> + Skilled in Adobe Illustrator, Photoshop and In Design</p>
        <p> + Ability to work within a team</p>
            <p>+ Creativity</p>
            <p>+ Adaptability</p>
            <p>+ Excellent communication skills and the ability to pitch ideas confidently</p>
     
        <br>

        <h2 id ="goals">Animation Artist</h2>
        <h3>Skills</h3>
            <p>+ Interaction Design</p>
            <p>+ Originality</p>
            <p>+ Adobe AfterEffects</p>
            <p>+ User experience wireframing</p>
            <p>+ Highly skilled in Adobe Illustrator and Photoshop</p>
            <p>+ Emotive Communication</p>

        <br>

        <h2 id ="goals">Illustrator</h2>
        <p>A professional illustrator are typically employed in the publishing industry designing book and magazine covers but are also found in other media and advertising</p>
        <h3>Skills</h3>
  
        <p>+ Excellent drawing skills</p>
        <p>+ Creativity</p>
        <p>+ Highly skilled in Adobe Illustrator</p>
        <p>+ Good communication skills</p>


        <br>
    
        <h2 id ="goals">Creative Director</h2>
        <h3>Skills</h3>
        <p>+ Ability to manage and direct multidisciplinary teams</p>
        <p>+ Being able to translate marketing objectives into creative ideas</p>
        <p>+ Managing timelines and budgets</p>


        <br>

        <h2 id ="goals">Art Director</h2>
        <h3>Skills</h3>
        <p>+ Keen eye for detail</p>
        <p>+ Excellent organisational skills</p>
        <P>+ Ability to manage a team</P>

        <br>
    
        <h2 id ="goals">Web Designer</h2>
        <p>Web designers are highly sought after particularly those that are well versed in both web development and graphic design.</p>
        <h3>Skills</h3>
            <p>+ HTML</p>
            <p>+ CSS</p>
            <p>+ Javascript</p>
            <p>+ Knowledge of web server management</p>
            <p>+ Understanding website responsiveness</p>
            <p>+ Working in an agile / scrum environment</p>
            <p>+ Ability to design and build user friendly interfaces</p>
            <p>+ Understand the principles of responsive design</p>

        <p>Personally after reviewing the skills required I feel that I would be well suited for a role such as this considering my background in Computer Science and my experince in Graphic Design now exemplified with my website.</p>
       <p> I have also worked in agile teams in many of my roles.</p>
        <br>

        <h2 id ="goals">UI / UX Designer</h2>
        <p>UI / UX Designers are highly sought after in the creative industry. These designers focus on how customers interact with a companies product and design in such a way to improve usability</p> 
        <p>This is a role I am highly interested in pursuing as it marries my computer science education with my graphic design skills along with my studies in Sociology and Antrhopology.
            I did some research into online courses and I am considering on signing up for UI / UX Design Specialization on Coursea and completing it over the summer.
        </p><p>I also signed up for hackdesign.org which offeres free UI / UX lessons</p>
        <h3>Skills</h3>
        <p>+ Good grasp of Adobe Creative Suite</p>
        <p>+ Excellent research skills</p>
        <p>+ Web design and mobile app design skills</p>
        <p>+ Wireframing</p>
        <P>+ Prototyping</P>
        <p>+ Understand core principles of good visual communication</p>

        <br>
        <h2 id ="goals">Flash Designer</h2>
        <p>Flash Designers use the Adobe Flash Multimedia platform to create graphics, animations or illustrations for websites and apps.</p>
        <p>+ HTML</p>
        <P>+ Adobe creative suite</P>
        <p>+ Web development knowledge</p>
        <p>+ Ability to work to deadlines</p>
        <p>+ Good interpersonal skills</p>
        <br>
    
        <h2 id ="goals">Logo Designer</h2>
        <p>A logo designer essential is responsible for creating a clients brand identity</p>
        <h3>Skills</h3>
        <p>+ Excellent communication skills</p>
        <p>+ Translate clients objectives into creative ideas</p>
        <p>+ Sales and marketing knowledge</p>
        <p>+ Creativity and a good attention to detail</p>
        <p>+ Adobe Illustrator and Photoshop</p>
        <p>+ Photography skills</p>
        <p>+ Ability to create unique Typography</p>
        <P>+ Illustration and sketching skills</P>

        <br>
        <h2 id ="goals">Product Designer</h2>
        <h3>Skills</h3>
        <p>+ Research skills</p>
        <p>+ UI design principles</p>
        <p>+ Good design skills</p>
        <p>+ UX writing</p>
        <p>+ Working in a multidisciplinary team</p>

        <br>
        <h2 id ="goals">Layout Artist</h2>
        <p>Layout artists can be found throughout publishing and are responsible for creating visual appealing page elements.</p>
        <h3>Skills</h3>
        <p>+ Adobe InDesign</p>
        <p>+ Typography</p>
        <p>+ Photo editting skills</p>
        <p>+ Proofreading</p>
        <p>+ Composition Skills</p>
        <br>
    
<h1>References:</h1>

    <p>Top 8 Graphic Design Jobs You Should Pursue For Your Career [online] (2020) [online], Fremont College.</p>
    <p>Staff, C. (2020) Being An Art Director: All You Need To Know [online], Creative Bloq, available: https://www.creativebloq.com/career/art-director-11121180 [accessed 16 May 2020].</p>
    <p>The In-Demand Animation Skills You Need To Make Design Come To Life | Rasmussen College [online] (2020) [online], Rasmussen.edu.</p>
<p>advice, C., descriptions, J. (2020) Illustrator [online], gradireland, available: https://gradireland.com/careers-advice/job-descriptions/illustrator [accessed 17 May 2020].</p>
<p>The Difference Between Graphic Designer, Art Director And Creative Director. [online] (2020) [online], Medium.</p>
<p>All Design Lessons - Hack Design [online] (2020) [online], Hackdesign.org.</p>
<p>9 Critical UX Skills And How To Develop Them | Lesley University [online] (2020) [online], Lesley.edu.</p>
<p>Hot Job: Creative Director [online] (2020) [online], Roberthalf.com.</p>
<p>[online] (2020) [online], Study.com.</p>
<p>KARLEKAR, M. (2020) Product Designer: The 8 Skills At The Heart Of This Role. - Thiga Blog [online], Thiga Blog, available: https://blog.thiga.co/en/product-designer-the-8-skills-at-the-heart-of-this-role/ [accessed 17 May 2020].</p>
<p>Layout Designer Job Description - Jobhero [online] (2020) [online], JobHero.</p>




    </article>
    <aside>
        <h2 >Links</h2>
        <nav>
          <ul>
            <li><a href="/roles"><button class="dropbtn2">Roles and Skills</button> </a></li>
            <li><a href="/psa"><button class="dropbtn2">Professional Skills Audit</button> </a></li>
            <li><a href="/diary"><button class="dropbtn2">Personal Development Plan</button> </a></li>

          </ul>
      </nav>
      </aside>
</Body>


    
</article>

</body>



</html>