<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="stylesheet" type="text/css" href="CCC.css" />

        <script src="test.js"></script> 
        <title>L'Appeal Du Vide</title>
        <meta charset="utf-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>


     <div class = navbar>
    
        <ul id = "menu">
     <li><a href="home.html" ><button class="dropbtn">Home</button> </a> </li>

      <li> <a href="DesignReport.html" ><button class="dropbtn">Design Report</button> </a></li> 

     <li> <a href="PD.html"><button class="dropbtn">Personal Development</button> </a></li> 

      <li> <a href="Presentation.html"><button class="dropbtn">Presentation</button></a></li> 
    
    
    </ul>

</div>

    <body>
<div class = "page-contianer">
        <main><div class="header-b"> <div id="blog-img">
      
        </div>
      </div></main>
    <article>

      <h1>Week 2: Russian Constructivism</h1>
      <p> Vladimir Tatlin visited Pablo Picasso's studio in 1913 where upon viewing Picasso’s 
        experiments with collaged objects (papiers collés) which were 3 dimensional models made from scrap metal was inspired to 
      make his own. The artists in Russia who adopted this aesthetic became known as the Russian Constructivists. Withn constructivism the
      artist was transformed into an engineer who worked with tools rather than merely a brush and it was their role to help the masses to 
      become aware of class divisions and social inequalities.In 1923 a manifesto was 
    written that reflected the ideals of this group of designers "The material formation of the object is to be substituted for its aesthetic combination. The object is to be treated as a whole and thus will be of no discernible ‘style’ but simply a product of an industrial order like a car, an aeroplane and such like. Constructivism is a purely technical mastery and organisation of materials."
  </p>
  <img src="tatlin.png" style="display:block; margin: 0 auto; width:50%; height:50%" alt="alt text">

        <p>The most distinctive characterist of the Constructivists style was the use of geometric shapes, repeated patterns, 
            perspective distortions and limited blocky colour scheme mainly the use of red, black and white.
           The movement emerged at a pivotal point of Russian history where communism took hold and overthrew the traditional ruling elite, constructivism 
           reflected this shift rejecting traditionalism and embracing nonsuperfluous design."They attempted to 
           find the Communist expression of material construction. Building and science were emphasised over artistic expression, 
           and Constructivism reached as far and wide as architecture, design, fashion, 
           and mass-produced objects. Construction ruled over, for example, classic painterly concerns such as composition.". A perfect 
           example of this style is embodied in the Alexsander Rodchenko's poster:
        </p>

        <img src="ru.jpg" style="display:block; margin: 0 auto; width:50%; height:50%" alt="alt text">

      <P>Many examples of the aesthetic can be seen on album covers such as for the electro band Kraftwerk, who not only used this visual imagery
        on their album covers but integrated it into their onstage performances and fashion.
      </P>
      <img src="kw.jpg" style="display:block; margin: 0 auto; width:50%; height:50%" alt="alt text">

      <p> Another example of Russian Constructivism in popular culture can be seen in the band Franz
        Ferdinand who used its visuals for their album covers and music videos. Their album 'you could have it so much better' is essentially 
        a homage to Alexsander Rodchenko's iconic poster.
      </p>

      <img src="fire.png" style="display:block; margin: 0 ;float:left;auto; width:50%; height:50%" alt="alt text">
      <img src="ych.png" style="display:block; float:leftl;margin: 0 auto; width:50%; height:50%" alt="alt text">

      <p>Again another example of this style is seen on Led Zepplins album Mothership. The geometric blocky shapes and colour 
        tone is very reminisent of the aesthetic.
      </p>
      <img src="lzm.png" style="display:block; float:leftl;margin: 0 auto; width:50%; height:50%" alt="alt text">

        <h2>References</h2>
        <p>https://magazine.artland.com/art-movement-constructivism/</p>
        <p>https://retroavangarda.com/avant-garde-inspirations-kraftwerk-franz-ferdinand-and-laibach/</p>
     
     
         </article>
     
     
         <aside>
             <h2>Blog Links</h2>
             <nav>
               <ul>
                <li><a href="indus.html">Week 1: Industrial Revolution</a></li>
                <li><a href="Russia.html">Week 2: Russian Constructivism</a></li>
                <li><a href="Bauhaus.html">Week 3: Bauhaus</a></li>
                <li><a href="Newtyp.html">Week 4: New Typography</a></li>
                
                <li><a href="NEWYork.html">Week 5: New York</a></li>
               </ul>
           </nav>
           </aside>
       

    </div>

   
    <footer>
        <p>Rose Toolan 2020</p>
    </footer>
</body>



</html>